#header-wrapper {
	background: #00AFF0 url(images/bg2.jpg) no-repeat top center;
	background-size: 100% 100%;
}
.head1 .links-bar {
	background-color: #047A96;
	visibility: hidden;
	margin-bottom: 0;
}
.head1 .links-bar #welcome {
	display: none;
}
.head1 .links-bar .links a {
	font-weight: bold;
	text-transform: uppercase;
}
.head1 .links-bar .links a:hover {
	color: #fff;
}
.head1 #header .top-options {
	display: none;
	visibility: hidden;
}
.head1 #header #search {
	top: 12px;
}
.button, .sml-button {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	border-radius: 0;
}
.product-info .description {
	margin-bottom: 10px;
}
.breadcrumb a {
	color: #047A96;
	font-weight: bold;
}
.breadcrumb a:last-child {
	cursor: default;
	pointer-events: none;
	color: #000;
}
.breadcrumb a:hover {
	color: #000;
}
.breadcrumb span {
	color: #000;
}
#menu .menu-mega .menu-grid .menu-main, 
#menu .cat-mega .cat-grid .cat-main {
	text-transform: uppercase;
	border-bottom: none;
}
#menu .menu-mega .menu-mg-data, 
#menu .cat-mega .cat-mg-data {
	margin-bottom: 10px;
}
/*===========================================*/
/*	DESKTOP LAYOUT 
/*===========================================*/
@media only screen and (min-width: 1200px) {

}
@media only screen and (min-width: 980px) {

}
@media only screen and (min-width: 980px) and (max-width: 1199px) {

}

/*===========================================*/
/*	TABLET LAYOUT 
/*===========================================*/
@media only screen and (min-width: 768px) and (max-width: 979px) {

}

/*===========================================*/
/*	MOBILE LAYOUT 
/*===========================================*/
@media only screen and (min-width: 200px) and (max-width: 767px) {

}
@media only screen and (min-width: 200px) and (max-width: 419px) {

}
@media only screen and (min-width: 420px) and (max-width: 599px) {

}
@media only screen and (min-width: 600px) and (max-width: 767px) {
	
}