/* .show-grid [class^=col-] > div {
	background-color: rgba(0,0,0,0.1);
} */

.banner-grid { text-align: center; }
.banner-grid img { width: 100%; height: auto !important; max-width: 100%; display: block; margin-left: auto; margin-right: auto; }
.banner-grid.res-img img { width: auto; }
.banner-grid .vr-col img,
.grid-wrp img { width: auto; height: auto !important; max-width: 100%; }
.grid-wrp .row > .col { padding-left: 15px; padding-right: 15px; }

.custom-section .grid-wrp .prd-block,
.custom-section .grid-wrp .prd-block1,
.custom-section .grid-wrp .prd-block2,
.custom-section .grid-wrp .prd-block2 .image,
.custom-section .grid-wrp .prd-block3 {
	width: auto !important;
	float: none;
	margin: auto;
	min-height: inherit;
}
.custom-section .mod-grid .prd-block1 {
	margin-bottom: 30px;
}
.grid-wrp .sec-box { margin-bottom: 0px; }

/* .grid-wrp .prd-block img,
.grid-wrp .prd-block1 img,
.grid-wrp .prd-block2 img {
	width: 100%;
} */

/* GRID SYSTEM */
.rw { text-align: left; }
.rw > * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.rw:after, .rw:before { content: ''; display: table; clear: both; }
.rw > [class^=col] { float: left; }
.rw > .col-d-12 { width: 100%; }
.rw > .col-d-11 { width: 91.66666666666666%; }
.rw > .col-d-10 { width: 83.33333333333334%; }
.rw > .col-d-9 { width: 75%; }
.rw > .col-d-8 { width: 66.66666666666666%; }
.rw > .col-d-7 { width: 58.333333333333336%; }
.rw > .col-d-6 { width: 50%; }
.rw > .col-d-5 { width: 41.66666666666667%; }
.rw > .col-d-4 { width: 33.33333333333333%; }
.rw > .col-d-3 { width: 25%; }
.rw > .col-d-2 { width: 16.666666666666664%; }
.rw > .col-d-1 { width: 8.333333333333332%; }

/* Grid bottom margin */
.grid-wrp .mb { font-size: 0px; }
.banner-grid .b-10 + .mb, .grid-wrp .b-10 + .mb { margin-bottom: 10px; }
.banner-grid .b-20 + .mb, .grid-wrp .b-20 + .mb { margin-bottom: 20px; }
.banner-grid .b-30 + .mb, .grid-wrp .b-30 + .mb { margin-bottom: 30px; }
.banner-grid .b-40 + .mb, .grid-wrp .b-40 + .mb { margin-bottom: 40px; }
.banner-grid .b-50 + .mb, .grid-wrp .b-50 + .mb { margin-bottom: 50px; }
.banner-grid .b-60 + .mb, .grid-wrp .b-60 + .mb { margin-bottom: 60px; }
.banner-grid .b-70 + .mb, .grid-wrp .b-70 + .mb { margin-bottom: 70px; }
.banner-grid .b-80 + .mb, .grid-wrp .b-80 + .mb { margin-bottom: 80px; }

/* Grid bottom hr line */
.banner-grid .b-10 + .hr, .grid-wrp .b-10 + .hr { margin-top: 0px; }
.banner-grid .b-20 + .hr, .grid-wrp .b-20 + .hr { margin-top: 10px; }
.banner-grid .b-30 + .hr, .grid-wrp .b-30 + .hr { margin-top: 20px; }
.banner-grid .b-40 + .hr, .grid-wrp .b-40 + .hr { margin-top: 30px; }
.banner-grid .b-50 + .hr, .grid-wrp .b-50 + .hr { margin-top: 40px; }
.banner-grid .b-60 + .hr, .grid-wrp .b-60 + .hr { margin-top: 50px; }
.banner-grid .b-70 + .hr, .grid-wrp .b-70 + .hr { margin-top: 60px; }
.banner-grid .b-80 + .hr, .grid-wrp .b-80 + .hr { margin-top: 70px; }

/* Vertical Column banner bottom margin */
.grid-wrp .vr-col.b-1 .col, .banner-grid .vr-col.b-1 .bnr { margin-bottom: 1px; }
.grid-wrp .vr-col.b-2 .col, .banner-grid .vr-col.b-2 .bnr { margin-bottom: 2px; }
.grid-wrp .vr-col.b-4 .col, .banner-grid .vr-col.b-4 .bnr { margin-bottom: 4px; }
.grid-wrp .vr-col.b-5 .col, .banner-grid .vr-col.b-5 .bnr { margin-bottom: 5px; }
.grid-wrp .vr-col.b-10 .col, .banner-grid .vr-col.b-10 .bnr { margin-bottom: 10px; }
.grid-wrp .vr-col.b-16 .col, .banner-grid .vr-col.b-16 .bnr { margin-bottom: 16px; }
.grid-wrp .vr-col.b-20 .col, .banner-grid .vr-col.b-20 .bnr { margin-bottom: 20px; }
.grid-wrp .vr-col.b-26 .col, .banner-grid .vr-col.b-26 .bnr { margin-bottom: 26px; }
.grid-wrp .vr-col.b-30 .col, .banner-grid .vr-col.b-30 .bnr { margin-bottom: 30px; }
.grid-wrp .vr-col.b-40 .col, .banner-grid .vr-col.b-40 .bnr { margin-bottom: 40px; }
.grid-wrp .vr-col.b-50 .col, .banner-grid .vr-col.b-50 .bnr { margin-bottom: 50px; }
.grid-wrp .vr-col.b-60 .col, .banner-grid .vr-col.b-60 .bnr { margin-bottom: 60px; }
.grid-wrp .vr-col.b-70 .col, .banner-grid .vr-col.b-70 .bnr { margin-bottom: 70px; }
.grid-wrp .vr-col.b-80 .col, .banner-grid .vr-col.b-80 .bnr { margin-bottom: 80px; }

.row [class^="col"], .row:before, .row:after, .rw [class^=col] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.banner-grid .bnr { display: block; }
.banner-grid .hr {}
.grid-wrp .row { margin-left: -15px; margin-right: -15px; }
.banner-grid .row { margin-left: -5px; margin-right: -5px; }
.grid-wrp .row > .col,
.banner-grid .row > .col {
	margin-bottom: 10px;
	float: left;
	position: relative;
	min-height: 1px;
	padding-left: 5px;
	padding-right: 5px;
}
.banner-grid .masonry-item {
	position: relative;
	float: left;
}

.gut-0.rw > [class^="col"], .gt-0 .row [class^="col"] 	{ padding-right: 0px;  padding-left: 0px; margin-bottom: 0px; }
.gut-1.rw > [class^="col"], .gt-1 .row [class^="col"] 	{ padding-right: 1px;  padding-left: 0px; margin-bottom: 1px; }
.gut-2.rw > [class^="col"], .gt-2 .row [class^="col"] 	{ padding-right: 1px;  padding-left: 1px; margin-bottom: 2px; }
.gut-4.rw > [class^="col"], .gt-4 .row [class^="col"] 	{ padding-right: 2px;  padding-left: 2px; margin-bottom: 4px; }
.gut-10.rw > [class^="col"], .gt-10 .row [class^="col"] 	{ padding-right: 5px;  padding-left: 5px; margin-bottom: 10px; }
.gut-12.rw > [class^="col"], .gt-12 .row [class^="col"] 	{ padding-right: 6px;  padding-left: 6px; margin-bottom: 6px; }
.gut-14.rw > [class^="col"], .gt-14 .row [class^="col"] 	{ padding-right: 7px;  padding-left: 7px; margin-bottom: 14px; }
.gut-16.rw > [class^="col"], .gt-16 .row [class^="col"] 	{ padding-right: 8px;  padding-left: 8px; margin-bottom: 16px; }
.gut-18.rw > [class^="col"], .gt-18 .row [class^="col"] 	{ padding-right: 9px;  padding-left: 9px; margin-bottom: 18px; }
.gut-20.rw > [class^="col"], .gt-20 .row [class^="col"] 	{ padding-right: 10px; padding-left: 10px; margin-bottom: 20px; }
.gut-22.rw > [class^="col"], .gt-22 .row [class^="col"] 	{ padding-right: 11px; padding-left: 11px; margin-bottom: 22px; }
.gut-24.rw > [class^="col"], .gt-24 .row [class^="col"] 	{ padding-right: 12px; padding-left: 12px; margin-bottom: 24px; }
.gut-26.rw > [class^="col"], .gt-26 .row [class^="col"] 	{ padding-right: 13px; padding-left: 13px; margin-bottom: 26px; }
.gut-28.rw > [class^="col"], .gt-28 .row [class^="col"] 	{ padding-right: 14px; padding-left: 14px; margin-bottom: 28px; }
.gut-30.rw > [class^="col"], .gt-30 .row [class^="col"] 	{ padding-right: 15px; padding-left: 15px; margin-bottom: 30px; }
.gut-40.rw > [class^="col"], .gt-40 .row [class^="col"] 	{ padding-right: 20px; padding-left: 20px; margin-bottom: 40px; }
.gut-50.rw > [class^="col"], .gt-50 .row [class^="col"] 	{ padding-right: 25px; padding-left: 25px; margin-bottom: 50px; }
.gut-60.rw > [class^="col"], .gt-60 .row [class^="col"] 	{ padding-right: 30px; padding-left: 30px; margin-bottom: 60px; }
.gut-70.rw > [class^="col"], .gt-70 .row [class^="col"] 	{ padding-right: 35px; padding-left: 35px; margin-bottom: 70px; }
.gut-80.rw > [class^="col"], .gt-80 .row [class^="col"] 	{ padding-right: 40px; padding-left: 40px; margin-bottom: 80px; }
.gut-90.rw > [class^="col"], .gt-90 .row [class^="col"] 	{ padding-right: 45px; padding-left: 45px; margin-bottom: 90px; }
.gut-100.rw > [class^="col"], .gt-100 .row [class^="col"] { padding-right: 50px; padding-left: 50px; margin-bottom: 100px; }

.gut-0.rw, .gt-0 .row	{ margin-right: 0px; margin-left: 0px; }
.gut-1.rw, .gt-1 .row	{ margin-right: -1px; margin-left: 0px; }
.gut-2.rw, .gt-2 .row	{ margin-right: -1px;  margin-left: -1px; }
.gut-4.rw, .gt-4 .row	{ margin-right: -2px;  margin-left: -2px; }
.gut-10.rw, .gt-10 .row	{ margin-right: -5px;  margin-left: -5px; }
.gut-12.rw, .gt-12 .row	{ margin-right: -6px;  margin-left: -6px; }
.gut-14.rw, .gt-14 .row	{ margin-right: -7px;  margin-left: -7px; }
.gut-16.rw, .gt-16 .row	{ margin-right: -8px;  margin-left: -8px; }
.gut-18.rw, .gt-18 .row	{ margin-right: -9px;  margin-left: -9px; }
.gut-20.rw, .gt-20 .row	{ margin-right: -10px; margin-left: -10px; }
.gut-22.rw, .gt-22 .row	{ margin-right: -11px; margin-left: -11px; }
.gut-24.rw, .gt-24 .row	{ margin-right: -12px; margin-left: -12px; }
.gut-26.rw, .gt-26 .row	{ margin-right: -13px; margin-left: -13px; }
.gut-28.rw, .gt-28 .row	{ margin-right: -14px; margin-left: -14px; }
.gut-30.rw, .gt-30 .row	{ margin-right: -15px; margin-left: -15px; }
.gut-40.rw, .gt-40 .row	{ margin-right: -20px; margin-left: -20px; }
.gut-50.rw, .gt-50 .row	{ margin-right: -25px; margin-left: -25px; }
.gut-60.rw, .gt-60 .row	{ margin-right: -30px; margin-left: -30px; }
.gut-70.rw, .gt-70 .row	{ margin-right: -35px; margin-left: -35px; }
.gut-80.rw, .gt-80 .row	{ margin-right: -40px; margin-left: -40px; }
.gut-90.rw, .gt-90 .row	{ margin-right: -45px; margin-left: -45px; }
.gut-100.rw, .gt-100 .row{ margin-right: -50px; margin-left: -50px; }

.banner-grid .vr-col .bnr { display: block; margin-right: auto; margin-left: auto; text-align: center; }



[data-col="1"] > .col, .col-1 > .col { width: 100%; }
[data-col="2"] > .col, .col-2 > .col { width: 50%; }
[data-col="3"] > .col, .col-3 > .col { width: 33.33333333333333%; }
[data-col="4"] > .col, .col-4 > .col { width: 25%; }
[data-col="5"] > .col, .col-5 > .col { width: 20%; }
[data-col="6"] > .col, .col-6 > .col { width: 16.66666666666667%; }
[data-col="7"] > .col, .col-7 > .col { width: 14.28571428571429%; }
[data-col="8"] > .col, .col-8 > .col { width: 12.5%; }
[data-col="9"] > .col, .col-9 > .col { width: 11.11111111111111%; }
[data-col="10"] > .col, .col-10 > .col { width: 10%; }
[data-col="11"] > .col, .col-11 > .col { width: 9.090909090909091%; }
[data-col="12"] > .col, .col-12 > .col { width: 8.333333333333333%; }





/* CONTENT STYLES */
.contentbox .cbox-main-hd {
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(0,0,0,0.06);
}
.contentbox .btn-bar {
	padding: 10px 0 0 0;
	border-top: 1px solid rgba(0,0,0,0.06);
}
.contentbox .cbox-content {
	padding: 15px 0 15px 0;
}
.contentbox .cbox-img {
	display: block;
}
.contentbox .cbox-hd {}

/* CONTENT STYLE 1 */
.contentbox1 {
	padding: 10px 30px 30px 30px;
	border: 4px double rgba(0,0,0,0.1);
	text-align: center;
}
.contentbox1 .cbox-main-hd {
	display: inline-block;
	background: #EEEEEE;
	margin: 0;
	padding: 1px 15px;
	position: relative;
	top: -26px;
	font-size: 20px;
	border-bottom: none;
}
.contentbox1 .cbox-hd { font-size: 13px; }
.contentbox1 .btn-bar {
	padding: 10px 0 0 0;
	border-top: 1px solid rgba(0,0,0,0.06);
}
.contentbox1 .cbox-content {
	padding: 15px 0 15px 0;
}
.contentbox1 .cbox-img {
	display: block;
}

/* CONTENT STYLE 2 */
.contentbox2 {
	padding: 20px 30px 30px 30px;
	border: 1px solid rgba(0,0,0,0.1);
	text-align: center;
}
.contentbox2 .cbox-main-hd {
	margin: 0 0 20px 0;
	padding: 1px 15px 20px 15px;
	font-size: 20px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.contentbox2 .cbox-hd { font-size: 13px; }
.contentbox2 .btn-bar {
	padding: 10px 0 0 0;
	border-top: 1px solid rgba(0,0,0,0.06);
}
.contentbox2 .cbox-content {
	padding: 15px 0 15px 0;
}
.contentbox2 .cbox-img {
	display: block;
}

/* CONTENT STYLE 3 */
.contentbox3 {
	text-align: center;
}
.contentbox3 .cbox-main-hd {
	margin: 0 0 20px 0;
	padding: 1px 15px 20px 15px;
	font-size: 20px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.contentbox3 .cbox-hd { font-size: 13px; }
.contentbox3 .btn-bar {
	padding: 10px 0 0 0;
	border-top: 1px solid rgba(0,0,0,0.06);
}
.contentbox3 .cbox-content {
	padding: 15px 0 15px 0;
}
.contentbox3 .cbox-img {
	display: block;
}

/* CONTENT STYLE 4 */
.contentbox4 {
	text-align: center;
}
.contentbox4 .cbox-main-hd {
	position: relative;
	margin-bottom: 30px;
	padding-bottom: 0px;
	border-bottom: none;
}
.contentbox4 .cbox-main-hd b {
	background: #EEEEEE;
	padding: 1px 15px 1px 15px;
	font-size: 20px;
	display: inline-block;
	position: relative;
	z-index: 999;
}
.contentbox4 .cbox-main-hd:after {
	content: '';
	position: absolute;
	border-top: 4px double rgba(0,0,0,0.1);
	width: 100%;
	left: 0px;
	top: 50%;
	margin-top: -1px;
}
.contentbox4 .cbox { border: 1px solid rgba(0,0,0,0.1); padding: 20px; }
.contentbox4 .cbox-hd { font-size: 13px; }
.contentbox4 .btn-bar {
	padding: 10px 0 0 0;
	margin-bottom: -29px;
	border-top: none;
}
.contentbox4 .cbox-content {
	padding: 15px 0 15px 0;
}
.contentbox4 .cbox-img {
	display: block;
}