/*======================================================================================*/
/*	DESKTOP LAYOUT 
/*======================================================================================*/
@media only screen and (min-width: 1400px) {
	.wide-ly .bx .footer-bt, 
	.wide-ly .bx #container {
		max-width: 1320px;
		min-width: 1200px;
	}
	.wide-ly .footer-bt table,
	.wide-ly .menu-fw #menu,
	.wide-ly .cp-text,
	.wide-ly #footer,
	.wide-ly .menu-bx .navigation-bar,
	.wide-ly #header,
	.wide-ly .wrapper, 
	.wide-ly #content {
		width: 1180px;
	}
	.wide-ly #content #column-left + .content-body, 
	.wide-ly #content #column-right + .content-body {
		width: 940px;
	}
	.wide-ly #menu { width: 980px; }
	.wide-ly .no-logo #menu { /*width: 100%;*/ width: 1180px; }

	.wide-ly .head-c.head0 .logo-in-header .top-options {
		width: 1115px;
	}

	.wide-ly .refine-grid .cate-box { width: 117px; }

	.wide-ly .col-y .content-body .sec-box { max-width: 150px; }
	.wide-ly .col-y .content-body .selcat-prdsec-style1 .sec-prd { margin-left: 160px; }


	/*-------- PRODUCT BLOCKS --------*/
	.wide-ly .content-body .box-product .item { width: 235px; }

	.wide-ly #column-left + .content-body .box-product .item,
	.wide-ly #column-right + .content-body .box-product .item { width: 234px; }

	/* Product box 1 */
	.wide-ly .product-grid .prd-block2,
	.wide-ly .box-product .prd-block { width: 195px; }

	.wide-ly #column-left + .content-body .product-grid .prd-block2,
	.wide-ly #column-right + .content-body .product-grid .prd-block2,
	.wide-ly #column-left + .content-body .box-product .prd-block,
	.wide-ly #column-right + .content-body .box-product .prd-block,
	.wide-ly .product-grid .prd-block { width:194px; }

	/* Product box 4 */
	.wide-ly .col-y .product-list .prd-block3 { width: 420px; }
	.wide-ly .col-n .product-list .prd-block3 { width: 540px; }

	/*-------- PRODUCT PAGE LAYOUT SETTINGS --------*/
	.wide-ly #content #column-left + .content-body .product-info > .right,
	.wide-ly #content #column-right + .content-body .product-info > .right {
		width: 382px;
	}
	.wide-ly .col-n .product-info > .right {
		width: 620px;
	}
	.wide-ly .col-n .product-info .tabs-wrapper {
		float: right;
		width: 620px;
	}
	.wide-ly .col-n .product-info .review-in {
		float: none;
		width: auto;
	}
	.wide-ly .col-n .product-info > .right .r {
		margin-left: 500px;
	}
	.wide-ly .col-n .product-info > .right .l {
		width: 465px;
	}
	.wide-ly .col-n .product-info .reviews-wrapper {
		float: left;
		width: 518px;
	}
	.wide-ly .login-content .right, 
	.wide-ly .login-content .left {
		width: 42%;
	}
	.wide-ly #content #column-left + .content-body .prd-layout1 > .left,
	.wide-ly #content #column-right + .content-body .prd-layout1 > .left,
	.wide-ly #content #column-left + .content-body .prd-layout1 > .right,
	.wide-ly #content #column-right + .content-body .prd-layout1 > .right,
	.wide-ly .col-n .prd-layout1 > .left,
	.wide-ly .col-n .prd-layout1 > .right {
		width: 48%;
	}
	.wide-ly .col-n .prd-layout1 > .right .l { width: auto; }

	/* .wide-ly #content #column-left + .content-body .prd-layout1 > .right,
	.wide-ly #content #column-right + .content-body .prd-layout1 > .right {
		width: 518px;
	} */

	/*-------- CUSTOM FOOTER --------*/
	.wide-ly .custom-footer { width:1180px; }
	.wide-ly .custom-footer .column { width: 352px; }
	.wide-ly .column-2 .column { width: 558px; }
	.wide-ly .column-1 .facebook-block span { width: 1180px !important; }
	.wide-ly .column-1 .fb_iframe_widget span,
	.wide-ly .column-1 .fb_iframe_widget iframe { height: 250px !important; }

	.wide-ly #footer .column { width: 211px; }
	
	
	/*-------- MASONARY GRID --------*/
	.wide-ly .masonry-item { width: 97px; height: 97px; }

	.wide-ly .masonry-item[data-ss-colspan="2"] { width: 195px; }
	.wide-ly .masonry-item[data-ss-colspan="3"] { width: 293px; }
	.wide-ly .masonry-item[data-ss-colspan="4"] { width: 391px; }
	.wide-ly .masonry-item[data-ss-colspan="5"] { width: 489px; }
	.wide-ly .masonry-item[data-ss-colspan="6"] { width: 587px; }
	.wide-ly .masonry-item[data-ss-colspan="7"] { width: 685px; }
	.wide-ly .masonry-item[data-ss-colspan="8"] { width: 783px; }
	.wide-ly .masonry-item[data-ss-colspan="9"] { width: 881px; }
	.wide-ly .masonry-item[data-ss-colspan="10"] { width: 979px; }
	

	.wide-ly .masonry-item[data-ss-rowspan="2"] { height: 195px; }
	.wide-ly .masonry-item[data-ss-rowspan="3"] { height: 293px; }
	.wide-ly .masonry-item[data-ss-rowspan="4"] { height: 391px; }
	.wide-ly .masonry-item[data-ss-rowspan="5"] { height: 489px; }
	.wide-ly .masonry-item[data-ss-rowspan="6"] { height: 587px; }
	.wide-ly .masonry-item[data-ss-rowspan="7"] { height: 685px; }
	.wide-ly .masonry-item[data-ss-rowspan="8"] { height: 783px; }
	.wide-ly .masonry-item[data-ss-rowspan="9"] { height: 881px; }
	.wide-ly .masonry-item[data-ss-rowspan="10"] { height: 979px; }

	.wide-ly .withcol .masonry-item, 
	.wide-ly .column + .content-body .masonry-item { width: 77px; height: 77px; }

	.wide-ly .withcol .masonry-item[data-ss-colspan="2"], .wide-ly .column + .content-body .masonry-item[data-ss-colspan="2"] { width: 155px; }
	.wide-ly .withcol .masonry-item[data-ss-colspan="3"], .wide-ly .column + .content-body .masonry-item[data-ss-colspan="3"] { width: 233px; }
	.wide-ly .withcol .masonry-item[data-ss-colspan="4"], .wide-ly .column + .content-body .masonry-item[data-ss-colspan="4"] { width: 311px; }
	.wide-ly .withcol .masonry-item[data-ss-colspan="5"], .wide-ly .column + .content-body .masonry-item[data-ss-colspan="5"] { width: 389px; }
	.wide-ly .withcol .masonry-item[data-ss-colspan="6"], .wide-ly .column + .content-body .masonry-item[data-ss-colspan="6"] { width: 467px; }
	.wide-ly .withcol .masonry-item[data-ss-colspan="7"], .wide-ly .column + .content-body .masonry-item[data-ss-colspan="7"] { width: 545px; }
	.wide-ly .withcol .masonry-item[data-ss-colspan="8"], .wide-ly .column + .content-body .masonry-item[data-ss-colspan="8"] { width: 623px; }
	.wide-ly .withcol .masonry-item[data-ss-colspan="9"], .wide-ly .column + .content-body .masonry-item[data-ss-colspan="9"] { width: 701px; }
	.wide-ly .withcol .masonry-item[data-ss-colspan="10"], .wide-ly .column + .content-body .masonry-item[data-ss-colspan="10"] { width: 779px; }

	.wide-ly .withcol .masonry-item[data-ss-rowspan="2"], .wide-ly .column + .content-body .masonry-item[data-ss-rowspan="2"] { height: 155px; }
	.wide-ly .withcol .masonry-item[data-ss-rowspan="3"], .wide-ly .column + .content-body .masonry-item[data-ss-rowspan="3"] { height: 233px; }
	.wide-ly .withcol .masonry-item[data-ss-rowspan="4"], .wide-ly .column + .content-body .masonry-item[data-ss-rowspan="4"] { height: 311px; }
	.wide-ly .withcol .masonry-item[data-ss-rowspan="5"], .wide-ly .column + .content-body .masonry-item[data-ss-rowspan="5"] { height: 389px; }
	.wide-ly .withcol .masonry-item[data-ss-rowspan="6"], .wide-ly .column + .content-body .masonry-item[data-ss-rowspan="6"] { height: 467px; }
	.wide-ly .withcol .masonry-item[data-ss-rowspan="7"], .wide-ly .column + .content-body .masonry-item[data-ss-rowspan="7"] { height: 545px; }
	.wide-ly .withcol .masonry-item[data-ss-rowspan="8"], .wide-ly .column + .content-body .masonry-item[data-ss-rowspan="8"] { height: 623px; }
	.wide-ly .withcol .masonry-item[data-ss-rowspan="9"], .wide-ly .column + .content-body .masonry-item[data-ss-rowspan="9"] { height: 701px; }
	.wide-ly .withcol .masonry-item[data-ss-rowspan="10"], .wide-ly .column + .content-body .masonry-item[data-ss-rowspan="10"] { height: 779px; }

	/* GUTTER 2 */
	.wide-ly .g2 .masonry-item { width: 96px; height: 96px; }

	.wide-ly .g2 .masonry-item[data-ss-colspan="2"] { width: 194px; }
	.wide-ly .g2 .masonry-item[data-ss-colspan="3"] { width: 292px; }
	.wide-ly .g2 .masonry-item[data-ss-colspan="4"] { width: 390px; }
	.wide-ly .g2 .masonry-item[data-ss-colspan="5"] { width: 488px; }
	.wide-ly .g2 .masonry-item[data-ss-colspan="6"] { width: 586px; }
	.wide-ly .g2 .masonry-item[data-ss-colspan="7"] { width: 684px; }
	.wide-ly .g2 .masonry-item[data-ss-colspan="8"] { width: 782px; }
	.wide-ly .g2 .masonry-item[data-ss-colspan="9"] { width: 880px; }
	.wide-ly .g2 .masonry-item[data-ss-colspan="10"] { width: 978px; }

	.wide-ly .g2 .masonry-item[data-ss-rowspan="2"] { height: 194px; }
	.wide-ly .g2 .masonry-item[data-ss-rowspan="3"] { height: 292px; }
	.wide-ly .g2 .masonry-item[data-ss-rowspan="4"] { height: 390px; }
	.wide-ly .g2 .masonry-item[data-ss-rowspan="5"] { height: 488px; }
	.wide-ly .g2 .masonry-item[data-ss-rowspan="6"] { height: 586px; }
	.wide-ly .g2 .masonry-item[data-ss-rowspan="7"] { height: 684px; }
	.wide-ly .g2 .masonry-item[data-ss-rowspan="8"] { height: 782px; }
	.wide-ly .g2 .masonry-item[data-ss-rowspan="9"] { height: 880px; }
	.wide-ly .g2 .masonry-item[data-ss-rowspan="10"] { height: 978px; }

	.wide-ly .g2.withcol .masonry-item, 
	.wide-ly .column + .content-body .g2 .masonry-item { width: 76px; height: 76px; }

	.wide-ly .g2.withcol .masonry-item[data-ss-colspan="2"], .wide-ly .column + .content-body .g2 .masonry-item[data-ss-colspan="2"] { width: 154px; }
	.wide-ly .g2.withcol .masonry-item[data-ss-colspan="3"], .wide-ly .column + .content-body .g2 .masonry-item[data-ss-colspan="3"] { width: 232px; }
	.wide-ly .g2.withcol .masonry-item[data-ss-colspan="4"], .wide-ly .column + .content-body .g2 .masonry-item[data-ss-colspan="4"] { width: 310px; }
	.wide-ly .g2.withcol .masonry-item[data-ss-colspan="5"], .wide-ly .column + .content-body .g2 .masonry-item[data-ss-colspan="5"] { width: 388px; }
	.wide-ly .g2.withcol .masonry-item[data-ss-colspan="6"], .wide-ly .column + .content-body .g2 .masonry-item[data-ss-colspan="6"] { width: 466px; }
	.wide-ly .g2.withcol .masonry-item[data-ss-colspan="7"], .wide-ly .column + .content-body .g2 .masonry-item[data-ss-colspan="7"] { width: 544px; }
	.wide-ly .g2.withcol .masonry-item[data-ss-colspan="8"], .wide-ly .column + .content-body .g2 .masonry-item[data-ss-colspan="8"] { width: 622px; }
	.wide-ly .g2.withcol .masonry-item[data-ss-colspan="9"], .wide-ly .column + .content-body .g2 .masonry-item[data-ss-colspan="9"] { width: 700px; }
	.wide-ly .g2.withcol .masonry-item[data-ss-colspan="10"], .wide-ly .column + .content-body .g2 .masonry-item[data-ss-colspan="10"] { width: 778px; }

	.wide-ly .g2.withcol .masonry-item[data-ss-rowspan="2"], .wide-ly .column + .content-body .g2 .masonry-item[data-ss-rowspan="2"] { height: 154px; }
	.wide-ly .g2.withcol .masonry-item[data-ss-rowspan="3"], .wide-ly .column + .content-body .g2 .masonry-item[data-ss-rowspan="3"] { height: 232px; }
	.wide-ly .g2.withcol .masonry-item[data-ss-rowspan="4"], .wide-ly .column + .content-body .g2 .masonry-item[data-ss-rowspan="4"] { height: 310px; }
	.wide-ly .g2.withcol .masonry-item[data-ss-rowspan="5"], .wide-ly .column + .content-body .g2 .masonry-item[data-ss-rowspan="5"] { height: 388px; }
	.wide-ly .g2.withcol .masonry-item[data-ss-rowspan="6"], .wide-ly .column + .content-body .g2 .masonry-item[data-ss-rowspan="6"] { height: 466px; }
	.wide-ly .g2.withcol .masonry-item[data-ss-rowspan="7"], .wide-ly .column + .content-body .g2 .masonry-item[data-ss-rowspan="7"] { height: 544px; }
	.wide-ly .g2.withcol .masonry-item[data-ss-rowspan="8"], .wide-ly .column + .content-body .g2 .masonry-item[data-ss-rowspan="8"] { height: 622px; }
	.wide-ly .g2.withcol .masonry-item[data-ss-rowspan="9"], .wide-ly .column + .content-body .g2 .masonry-item[data-ss-rowspan="9"] { height: 700px; }
	.wide-ly .g2.withcol .masonry-item[data-ss-rowspan="10"], .wide-ly .column + .content-body .g2 .masonry-item[data-ss-rowspan="10"] { height: 778px; }

	/* GUTTER 4 */
	.wide-ly .g4 .masonry-item { width: 95px; height: 95px; }

	.wide-ly .g4 .masonry-item[data-ss-colspan="2"] { width: 194px; }
	.wide-ly .g4 .masonry-item[data-ss-colspan="3"] { width: 293px; }
	.wide-ly .g4 .masonry-item[data-ss-colspan="4"] { width: 392px; }
	.wide-ly .g4 .masonry-item[data-ss-colspan="5"] { width: 491px; }
	.wide-ly .g4 .masonry-item[data-ss-colspan="6"] { width: 590px; }
	.wide-ly .g4 .masonry-item[data-ss-colspan="7"] { width: 689px; }
	.wide-ly .g4 .masonry-item[data-ss-colspan="8"] { width: 788px; }
	.wide-ly .g4 .masonry-item[data-ss-colspan="9"] { width: 887px; }
	.wide-ly .g4 .masonry-item[data-ss-colspan="10"] { width: 986px; }

	.wide-ly .g4 .masonry-item[data-ss-rowspan="2"] { height: 194px; }
	.wide-ly .g4 .masonry-item[data-ss-rowspan="3"] { height: 293px; }
	.wide-ly .g4 .masonry-item[data-ss-rowspan="4"] { height: 392px; }
	.wide-ly .g4 .masonry-item[data-ss-rowspan="5"] { height: 491px; }
	.wide-ly .g4 .masonry-item[data-ss-rowspan="6"] { height: 590px; }
	.wide-ly .g4 .masonry-item[data-ss-rowspan="7"] { height: 689px; }
	.wide-ly .g4 .masonry-item[data-ss-rowspan="8"] { height: 788px; }
	.wide-ly .g4 .masonry-item[data-ss-rowspan="9"] { height: 887px; }
	.wide-ly .g4 .masonry-item[data-ss-rowspan="10"] { height: 986px; }

	.wide-ly .g4.withcol .masonry-item, 
	.wide-ly .column + .content-body .g4 .masonry-item { width: 75px; height: 75px; }

	.wide-ly .g4.withcol .masonry-item[data-ss-colspan="2"], .wide-ly .column + .content-body .g4 .masonry-item[data-ss-colspan="2"] { width: 154px; }
	.wide-ly .g4.withcol .masonry-item[data-ss-colspan="3"], .wide-ly .column + .content-body .g4 .masonry-item[data-ss-colspan="3"] { width: 233px; }
	.wide-ly .g4.withcol .masonry-item[data-ss-colspan="4"], .wide-ly .column + .content-body .g4 .masonry-item[data-ss-colspan="4"] { width: 312px; }
	.wide-ly .g4.withcol .masonry-item[data-ss-colspan="5"], .wide-ly .column + .content-body .g4 .masonry-item[data-ss-colspan="5"] { width: 391px; }
	.wide-ly .g4.withcol .masonry-item[data-ss-colspan="6"], .wide-ly .column + .content-body .g4 .masonry-item[data-ss-colspan="6"] { width: 470px; }
	.wide-ly .g4.withcol .masonry-item[data-ss-colspan="7"], .wide-ly .column + .content-body .g4 .masonry-item[data-ss-colspan="7"] { width: 549px; }
	.wide-ly .g4.withcol .masonry-item[data-ss-colspan="8"], .wide-ly .column + .content-body .g4 .masonry-item[data-ss-colspan="8"] { width: 628px; }
	.wide-ly .g4.withcol .masonry-item[data-ss-colspan="9"], .wide-ly .column + .content-body .g4 .masonry-item[data-ss-colspan="9"] { width: 707px; }
	.wide-ly .g4.withcol .masonry-item[data-ss-colspan="10"], .wide-ly .column + .content-body .g4 .masonry-item[data-ss-colspan="10"] { width: 786px; }

	.wide-ly .g4.withcol .masonry-item[data-ss-rowspan="2"], .wide-ly .column + .content-body .g4 .masonry-item[data-ss-rowspan="2"] { height: 154px; }
	.wide-ly .g4.withcol .masonry-item[data-ss-rowspan="3"], .wide-ly .column + .content-body .g4 .masonry-item[data-ss-rowspan="3"] { height: 233px; }
	.wide-ly .g4.withcol .masonry-item[data-ss-rowspan="4"], .wide-ly .column + .content-body .g4 .masonry-item[data-ss-rowspan="4"] { height: 312px; }
	.wide-ly .g4.withcol .masonry-item[data-ss-rowspan="5"], .wide-ly .column + .content-body .g4 .masonry-item[data-ss-rowspan="5"] { height: 391px; }
	.wide-ly .g4.withcol .masonry-item[data-ss-rowspan="6"], .wide-ly .column + .content-body .g4 .masonry-item[data-ss-rowspan="6"] { height: 470px; }
	.wide-ly .g4.withcol .masonry-item[data-ss-rowspan="7"], .wide-ly .column + .content-body .g4 .masonry-item[data-ss-rowspan="7"] { height: 549px; }
	.wide-ly .g4.withcol .masonry-item[data-ss-rowspan="8"], .wide-ly .column + .content-body .g4 .masonry-item[data-ss-rowspan="8"] { height: 628px; }
	.wide-ly .g4.withcol .masonry-item[data-ss-rowspan="9"], .wide-ly .column + .content-body .g4 .masonry-item[data-ss-rowspan="9"] { height: 707px; }
	.wide-ly .g4.withcol .masonry-item[data-ss-rowspan="10"], .wide-ly .column + .content-body .g4 .masonry-item[data-ss-rowspan="10"] { height: 786px; }

	/* GUTTER 6 */
	.wide-ly .g6 .masonry-item { width: 93px; height: 93px; }

	.wide-ly .g6 .masonry-item[data-ss-colspan="2"] { width: 192px; }
	.wide-ly .g6 .masonry-item[data-ss-colspan="3"] { width: 291px; }
	.wide-ly .g6 .masonry-item[data-ss-colspan="4"] { width: 390px; }
	.wide-ly .g6 .masonry-item[data-ss-colspan="5"] { width: 489px; }
	.wide-ly .g6 .masonry-item[data-ss-colspan="6"] { width: 588px; }
	.wide-ly .g6 .masonry-item[data-ss-colspan="7"] { width: 687px; }
	.wide-ly .g6 .masonry-item[data-ss-colspan="8"] { width: 786px; }
	.wide-ly .g6 .masonry-item[data-ss-colspan="9"] { width: 885px; }
	.wide-ly .g6 .masonry-item[data-ss-colspan="10"] { width: 984px; }

	.wide-ly .g6 .masonry-item[data-ss-rowspan="2"] { height: 192px; }
	.wide-ly .g6 .masonry-item[data-ss-rowspan="3"] { height: 291px; }
	.wide-ly .g6 .masonry-item[data-ss-rowspan="4"] { height: 390px; }
	.wide-ly .g6 .masonry-item[data-ss-rowspan="5"] { height: 489px; }
	.wide-ly .g6 .masonry-item[data-ss-rowspan="6"] { height: 588px; }
	.wide-ly .g6 .masonry-item[data-ss-rowspan="7"] { height: 687px; }
	.wide-ly .g6 .masonry-item[data-ss-rowspan="8"] { height: 786px; }
	.wide-ly .g6 .masonry-item[data-ss-rowspan="9"] { height: 885px; }
	.wide-ly .g6 .masonry-item[data-ss-rowspan="10"] { height: 984px; }

	.wide-ly .g6.withcol .masonry-item,
	.wide-ly .column + .content-body .g6 .masonry-item { width: 73px; height: 73px; }

	.wide-ly .g6.withcol .masonry-item[data-ss-colspan="2"], .wide-ly .column + .content-body .g6 .masonry-item[data-ss-colspan="2"] { width: 152px; }
	.wide-ly .g6.withcol .masonry-item[data-ss-colspan="3"], .wide-ly .column + .content-body .g6 .masonry-item[data-ss-colspan="3"] { width: 231px; }
	.wide-ly .g6.withcol .masonry-item[data-ss-colspan="4"], .wide-ly .column + .content-body .g6 .masonry-item[data-ss-colspan="4"] { width: 310px; }
	.wide-ly .g6.withcol .masonry-item[data-ss-colspan="5"], .wide-ly .column + .content-body .g6 .masonry-item[data-ss-colspan="5"] { width: 389px; }
	.wide-ly .g6.withcol .masonry-item[data-ss-colspan="6"], .wide-ly .column + .content-body .g6 .masonry-item[data-ss-colspan="6"] { width: 468px; }
	.wide-ly .g6.withcol .masonry-item[data-ss-colspan="7"], .wide-ly .column + .content-body .g6 .masonry-item[data-ss-colspan="7"] { width: 547px; }
	.wide-ly .g6.withcol .masonry-item[data-ss-colspan="8"], .wide-ly .column + .content-body .g6 .masonry-item[data-ss-colspan="8"] { width: 626px; }
	.wide-ly .g6.withcol .masonry-item[data-ss-colspan="9"], .wide-ly .column + .content-body .g6 .masonry-item[data-ss-colspan="9"] { width: 705px; }
	.wide-ly .g6.withcol .masonry-item[data-ss-colspan="10"], .wide-ly .column + .content-body .g6 .masonry-item[data-ss-colspan="10"] { width: 784px; }

	.wide-ly .g6.withcol .masonry-item[data-ss-rowspan="2"], .wide-ly .column + .content-body .g6 .masonry-item[data-ss-rowspan="2"] { height: 152px; }
	.wide-ly .g6.withcol .masonry-item[data-ss-rowspan="3"], .wide-ly .column + .content-body .g6 .masonry-item[data-ss-rowspan="3"] { height: 231px; }
	.wide-ly .g6.withcol .masonry-item[data-ss-rowspan="4"], .wide-ly .column + .content-body .g6 .masonry-item[data-ss-rowspan="4"] { height: 310px; }
	.wide-ly .g6.withcol .masonry-item[data-ss-rowspan="5"], .wide-ly .column + .content-body .g6 .masonry-item[data-ss-rowspan="5"] { height: 389px; }
	.wide-ly .g6.withcol .masonry-item[data-ss-rowspan="6"], .wide-ly .column + .content-body .g6 .masonry-item[data-ss-rowspan="6"] { height: 468px; }
	.wide-ly .g6.withcol .masonry-item[data-ss-rowspan="7"], .wide-ly .column + .content-body .g6 .masonry-item[data-ss-rowspan="7"] { height: 547px; }
	.wide-ly .g6.withcol .masonry-item[data-ss-rowspan="8"], .wide-ly .column + .content-body .g6 .masonry-item[data-ss-rowspan="8"] { height: 626px; }
	.wide-ly .g6.withcol .masonry-item[data-ss-rowspan="9"], .wide-ly .column + .content-body .g6 .masonry-item[data-ss-rowspan="9"] { height: 705px; }
	.wide-ly .g6.withcol .masonry-item[data-ss-rowspan="10"], .wide-ly .column + .content-body .g6 .masonry-item[data-ss-rowspan="10"] { height: 784px; }

	/* GUTTER 8 */
	.wide-ly .g8 .grid-sizer, 
	.wide-ly .g8 .masonry-item { width: 91px; height: 91px; }

	.wide-ly .g8 .masonry-item[data-ss-colspan="2"] { width: 190px; }
	.wide-ly .g8 .masonry-item[data-ss-colspan="3"] { width: 289px; }
	.wide-ly .g8 .masonry-item[data-ss-colspan="4"] { width: 388px; }
	.wide-ly .g8 .masonry-item[data-ss-colspan="5"] { width: 487px; }
	.wide-ly .g8 .masonry-item[data-ss-colspan="6"] { width: 586px; }
	.wide-ly .g8 .masonry-item[data-ss-colspan="7"] { width: 685px; }
	.wide-ly .g8 .masonry-item[data-ss-colspan="8"] { width: 784px; }
	.wide-ly .g8 .masonry-item[data-ss-colspan="9"] { width: 883px; }
	.wide-ly .g8 .masonry-item[data-ss-rowspan="10"] { height: 982px; }

	.wide-ly .g8 .masonry-item[data-ss-rowspan="2"] { height: 190px; }
	.wide-ly .g8 .masonry-item[data-ss-rowspan="3"] { height: 289px; }
	.wide-ly .g8 .masonry-item[data-ss-rowspan="4"] { height: 388px; }
	.wide-ly .g8 .masonry-item[data-ss-rowspan="5"] { height: 487px; }
	.wide-ly .g8 .masonry-item[data-ss-rowspan="6"] { height: 586px; }
	.wide-ly .g8 .masonry-item[data-ss-rowspan="7"] { height: 685px; }
	.wide-ly .g8 .masonry-item[data-ss-rowspan="8"] { height: 784px; }
	.wide-ly .g8 .masonry-item[data-ss-rowspan="9"] { height: 883px; }
	.wide-ly .g8 .masonry-item[data-ss-rowspan="10"] { height: 982px; }

	.wide-ly .g8.withcol .masonry-item, 
	.wide-ly .column + .content-body .g8 .masonry-item { width: 71px; height: 71px; }

	.wide-ly .g8.withcol .masonry-item[data-ss-colspan="2"], .wide-ly .column + .content-body .g8 .masonry-item[data-ss-colspan="2"] { width: 150px; }
	.wide-ly .g8.withcol .masonry-item[data-ss-colspan="3"], .wide-ly .column + .content-body .g8 .masonry-item[data-ss-colspan="3"] { width: 229px; }
	.wide-ly .g8.withcol .masonry-item[data-ss-colspan="4"], .wide-ly .column + .content-body .g8 .masonry-item[data-ss-colspan="4"] { width: 308px; }
	.wide-ly .g8.withcol .masonry-item[data-ss-colspan="5"], .wide-ly .column + .content-body .g8 .masonry-item[data-ss-colspan="5"] { width: 387px; }
	.wide-ly .g8.withcol .masonry-item[data-ss-colspan="6"], .wide-ly .column + .content-body .g8 .masonry-item[data-ss-colspan="6"] { width: 466px; }
	.wide-ly .g8.withcol .masonry-item[data-ss-colspan="7"], .wide-ly .column + .content-body .g8 .masonry-item[data-ss-colspan="7"] { width: 545px; }
	.wide-ly .g8.withcol .masonry-item[data-ss-colspan="8"], .wide-ly .column + .content-body .g8 .masonry-item[data-ss-colspan="8"] { width: 624px; }
	.wide-ly .g8.withcol .masonry-item[data-ss-colspan="9"], .wide-ly .column + .content-body .g8 .masonry-item[data-ss-colspan="9"] { width: 703px; }
	.wide-ly .g8.withcol .masonry-item[data-ss-colspan="10"], .wide-ly .column + .content-body .g8 .masonry-item[data-ss-colspan="10"] { width: 782px; }

	.wide-ly .g8.withcol .masonry-item[data-ss-rowspan="2"], .wide-ly .column + .content-body .g8 .masonry-item[data-ss-rowspan="2"] { height: 150px; }
	.wide-ly .g8.withcol .masonry-item[data-ss-rowspan="3"], .wide-ly .column + .content-body .g8 .masonry-item[data-ss-rowspan="3"] { height: 229px; }
	.wide-ly .g8.withcol .masonry-item[data-ss-rowspan="4"], .wide-ly .column + .content-body .g8 .masonry-item[data-ss-rowspan="4"] { height: 308px; }
	.wide-ly .g8.withcol .masonry-item[data-ss-rowspan="5"], .wide-ly .column + .content-body .g8 .masonry-item[data-ss-rowspan="5"] { height: 387px; }
	.wide-ly .g8.withcol .masonry-item[data-ss-rowspan="6"], .wide-ly .column + .content-body .g8 .masonry-item[data-ss-rowspan="6"] { height: 466px; }
	.wide-ly .g8.withcol .masonry-item[data-ss-rowspan="7"], .wide-ly .column + .content-body .g8 .masonry-item[data-ss-rowspan="7"] { height: 545px; }
	.wide-ly .g8.withcol .masonry-item[data-ss-rowspan="8"], .wide-ly .column + .content-body .g8 .masonry-item[data-ss-rowspan="8"] { height: 624px; }
	.wide-ly .g8.withcol .masonry-item[data-ss-rowspan="9"], .wide-ly .column + .content-body .g8 .masonry-item[data-ss-rowspan="9"] { height: 703px; }
	.wide-ly .g8.withcol .masonry-item[data-ss-rowspan="10"], .wide-ly .column + .content-body .g8 .masonry-item[data-ss-rowspan="10"] { height: 782px; }

	/* GUTTER 10 */
	.wide-ly .g10 .masonry-item { width: 89px; height: 89px; }

	.wide-ly .g10 .masonry-item[data-ss-colspan="2"] { width: 188px; }
	.wide-ly .g10 .masonry-item[data-ss-colspan="3"] { width: 287px; }
	.wide-ly .g10 .masonry-item[data-ss-colspan="4"] { width: 386px; }
	.wide-ly .g10 .masonry-item[data-ss-colspan="5"] { width: 485px; }
	.wide-ly .g10 .masonry-item[data-ss-colspan="6"] { width: 584px; }
	.wide-ly .g10 .masonry-item[data-ss-colspan="7"] { width: 683px; }
	.wide-ly .g10 .masonry-item[data-ss-colspan="8"] { width: 782px; }
	.wide-ly .g10 .masonry-item[data-ss-colspan="9"] { width: 881px; }
	.wide-ly .g10 .masonry-item[data-ss-colspan="10"] { width: 980px; }

	.wide-ly .g10 .masonry-item[data-ss-rowspan="2"] { height: 188px; }
	.wide-ly .g10 .masonry-item[data-ss-rowspan="3"] { height: 287px; }
	.wide-ly .g10 .masonry-item[data-ss-rowspan="4"] { height: 386px; }
	.wide-ly .g10 .masonry-item[data-ss-rowspan="5"] { height: 485px; }
	.wide-ly .g10 .masonry-item[data-ss-rowspan="6"] { height: 584px; }
	.wide-ly .g10 .masonry-item[data-ss-rowspan="7"] { height: 683px; }
	.wide-ly .g10 .masonry-item[data-ss-rowspan="8"] { height: 782px; }
	.wide-ly .g10 .masonry-item[data-ss-rowspan="9"] { height: 881px; }
	.wide-ly .g10 .masonry-item[data-ss-rowspan="10"] { height: 980px; }

	.wide-ly .g10.withcol .masonry-item, 
	.wide-ly .column + .content-body .g10 .masonry-item { width: 69px; height: 69px; }

	.wide-ly .g10.withcol .masonry-item[data-ss-colspan="2"], .wide-ly .column + .content-body .g10 .masonry-item[data-ss-colspan="2"] { width: 148px; }
	.wide-ly .g10.withcol .masonry-item[data-ss-colspan="3"], .wide-ly .column + .content-body .g10 .masonry-item[data-ss-colspan="3"] { width: 227px; }
	.wide-ly .g10.withcol .masonry-item[data-ss-colspan="4"], .wide-ly .column + .content-body .g10 .masonry-item[data-ss-colspan="4"] { width: 306px; }
	.wide-ly .g10.withcol .masonry-item[data-ss-colspan="5"], .wide-ly .column + .content-body .g10 .masonry-item[data-ss-colspan="5"] { width: 385px; }
	.wide-ly .g10.withcol .masonry-item[data-ss-colspan="6"], .wide-ly .column + .content-body .g10 .masonry-item[data-ss-colspan="6"] { width: 464px; }
	.wide-ly .g10.withcol .masonry-item[data-ss-colspan="7"], .wide-ly .column + .content-body .g10 .masonry-item[data-ss-colspan="7"] { width: 543px; }
	.wide-ly .g10.withcol .masonry-item[data-ss-colspan="8"], .wide-ly .column + .content-body .g10 .masonry-item[data-ss-colspan="8"] { width: 622px; }
	.wide-ly .g10.withcol .masonry-item[data-ss-colspan="9"], .wide-ly .column + .content-body .g10 .masonry-item[data-ss-colspan="9"] { width: 701px; }
	.wide-ly .g10.withcol .masonry-item[data-ss-colspan="10"], .wide-ly .column + .content-body .g10 .masonry-item[data-ss-colspan="10"] { width: 780px; }

	.wide-ly .g10.withcol .masonry-item[data-ss-rowspan="2"], .wide-ly .column + .content-body .g10 .masonry-item[data-ss-rowspan="2"] { height: 148px; }
	.wide-ly .g10.withcol .masonry-item[data-ss-rowspan="3"], .wide-ly .column + .content-body .g10 .masonry-item[data-ss-rowspan="3"] { height: 227px; }
	.wide-ly .g10.withcol .masonry-item[data-ss-rowspan="4"], .wide-ly .column + .content-body .g10 .masonry-item[data-ss-rowspan="4"] { height: 306px; }
	.wide-ly .g10.withcol .masonry-item[data-ss-rowspan="5"], .wide-ly .column + .content-body .g10 .masonry-item[data-ss-rowspan="5"] { height: 385px; }
	.wide-ly .g10.withcol .masonry-item[data-ss-rowspan="6"], .wide-ly .column + .content-body .g10 .masonry-item[data-ss-rowspan="6"] { height: 464px; }
	.wide-ly .g10.withcol .masonry-item[data-ss-rowspan="7"], .wide-ly .column + .content-body .g10 .masonry-item[data-ss-rowspan="7"] { height: 543px; }
	.wide-ly .g10.withcol .masonry-item[data-ss-rowspan="8"], .wide-ly .column + .content-body .g10 .masonry-item[data-ss-rowspan="8"] { height: 622px; }
	.wide-ly .g10.withcol .masonry-item[data-ss-rowspan="9"], .wide-ly .column + .content-body .g10 .masonry-item[data-ss-rowspan="9"] { height: 701px; }
	.wide-ly .g10.withcol .masonry-item[data-ss-rowspan="10"], .wide-ly .column + .content-body .g10 .masonry-item[data-ss-rowspan="10"] { height: 780px; }

	/* GUTTER 15 */
	.wide-ly .g15 .masonry-item { width: 84px; height: 84px; }

	.wide-ly .g15 .masonry-item[data-ss-colspan="2"] { width: 183px; }
	.wide-ly .g15 .masonry-item[data-ss-colspan="3"] { width: 282px; }
	.wide-ly .g15 .masonry-item[data-ss-colspan="4"] { width: 381px; }
	.wide-ly .g15 .masonry-item[data-ss-colspan="5"] { width: 480px; }
	.wide-ly .g15 .masonry-item[data-ss-colspan="6"] { width: 579px; }
	.wide-ly .g15 .masonry-item[data-ss-colspan="7"] { width: 678px; }
	.wide-ly .g15 .masonry-item[data-ss-colspan="8"] { width: 777px; }
	.wide-ly .g15 .masonry-item[data-ss-colspan="9"] { width: 876px; }
	.wide-ly .g15 .masonry-item[data-ss-colspan="10"] { width: 975px; }

	.wide-ly .g15 .masonry-item[data-ss-rowspan="2"] { height: 183px; }
	.wide-ly .g15 .masonry-item[data-ss-rowspan="3"] { height: 282px; }
	.wide-ly .g15 .masonry-item[data-ss-rowspan="4"] { height: 381px; }
	.wide-ly .g15 .masonry-item[data-ss-rowspan="5"] { height: 480px; }
	.wide-ly .g15 .masonry-item[data-ss-rowspan="6"] { height: 579px; }
	.wide-ly .g15 .masonry-item[data-ss-rowspan="7"] { height: 678px; }
	.wide-ly .g15 .masonry-item[data-ss-rowspan="8"] { height: 777px; }
	.wide-ly .g15 .masonry-item[data-ss-rowspan="9"] { height: 876px; }
	.wide-ly .g15 .masonry-item[data-ss-rowspan="10"] { height: 975px; }

	.wide-ly .g15.withcol .masonry-item, 
	.wide-ly .column + .content-body .g15 .masonry-item { width: 64px; height: 64px; }

	.wide-ly .g15.withcol .masonry-item[data-ss-colspan="2"], .wide-ly .column + .content-body .g15 .masonry-item[data-ss-colspan="2"] { width: 143px; }
	.wide-ly .g15.withcol .masonry-item[data-ss-colspan="3"], .wide-ly .column + .content-body .g15 .masonry-item[data-ss-colspan="3"] { width: 222px; }
	.wide-ly .g15.withcol .masonry-item[data-ss-colspan="4"], .wide-ly .column + .content-body .g15 .masonry-item[data-ss-colspan="4"] { width: 301px; }
	.wide-ly .g15.withcol .masonry-item[data-ss-colspan="5"], .wide-ly .column + .content-body .g15 .masonry-item[data-ss-colspan="5"] { width: 380px; }
	.wide-ly .g15.withcol .masonry-item[data-ss-colspan="6"], .wide-ly .column + .content-body .g15 .masonry-item[data-ss-colspan="6"] { width: 459px; }
	.wide-ly .g15.withcol .masonry-item[data-ss-colspan="7"], .wide-ly .column + .content-body .g15 .masonry-item[data-ss-colspan="7"] { width: 538px; }
	.wide-ly .g15.withcol .masonry-item[data-ss-colspan="8"], .wide-ly .column + .content-body .g15 .masonry-item[data-ss-colspan="8"] { width: 617px; }
	.wide-ly .g15.withcol .masonry-item[data-ss-colspan="9"], .wide-ly .column + .content-body .g15 .masonry-item[data-ss-colspan="9"] { width: 696px; }
	.wide-ly .g15.withcol .masonry-item[data-ss-colspan="10"], .wide-ly .column + .content-body .g15 .masonry-item[data-ss-colspan="10"] { width: 775px; }

	.wide-ly .g15.withcol .masonry-item[data-ss-rowspan="2"], .wide-ly .column + .content-body .g15 .masonry-item[data-ss-rowspan="2"] { height: 143px; }
	.wide-ly .g15.withcol .masonry-item[data-ss-rowspan="3"], .wide-ly .column + .content-body .g15 .masonry-item[data-ss-rowspan="3"] { height: 222px; }
	.wide-ly .g15.withcol .masonry-item[data-ss-rowspan="4"], .wide-ly .column + .content-body .g15 .masonry-item[data-ss-rowspan="4"] { height: 301px; }
	.wide-ly .g15.withcol .masonry-item[data-ss-rowspan="5"], .wide-ly .column + .content-body .g15 .masonry-item[data-ss-rowspan="5"] { height: 380px; }
	.wide-ly .g15.withcol .masonry-item[data-ss-rowspan="6"], .wide-ly .column + .content-body .g15 .masonry-item[data-ss-rowspan="6"] { height: 459px; }
	.wide-ly .g15.withcol .masonry-item[data-ss-rowspan="7"], .wide-ly .column + .content-body .g15 .masonry-item[data-ss-rowspan="7"] { height: 538px; }
	.wide-ly .g15.withcol .masonry-item[data-ss-rowspan="8"], .wide-ly .column + .content-body .g15 .masonry-item[data-ss-rowspan="8"] { height: 617px; }
	.wide-ly .g15.withcol .masonry-item[data-ss-rowspan="9"], .wide-ly .column + .content-body .g15 .masonry-item[data-ss-rowspan="9"] { height: 696px; }
	.wide-ly .g15.withcol .masonry-item[data-ss-rowspan="10"], .wide-ly .column + .content-body .g15 .masonry-item[data-ss-rowspan="10"] { height: 775px; }

	/* GUTTER 20 */
	.wide-ly .g20 .masonry-item { width: 80px; height: 80px; }

	.wide-ly .g20 .masonry-item[data-ss-colspan="2"] { width: 180px; }
	.wide-ly .g20 .masonry-item[data-ss-colspan="3"] { width: 280px; }
	.wide-ly .g20 .masonry-item[data-ss-colspan="4"] { width: 380px; }
	.wide-ly .g20 .masonry-item[data-ss-colspan="5"] { width: 480px; }
	.wide-ly .g20 .masonry-item[data-ss-colspan="6"] { width: 580px; }
	.wide-ly .g20 .masonry-item[data-ss-colspan="7"] { width: 680px; }
	.wide-ly .g20 .masonry-item[data-ss-colspan="8"] { width: 780px; }
	.wide-ly .g20 .masonry-item[data-ss-colspan="9"] { width: 880px; }
	.wide-ly .g20 .masonry-item[data-ss-colspan="10"] { width: 980px; }

	.wide-ly .g20 .masonry-item[data-ss-rowspan="2"] { height: 180px; }
	.wide-ly .g20 .masonry-item[data-ss-rowspan="3"] { height: 280px; }
	.wide-ly .g20 .masonry-item[data-ss-rowspan="4"] { height: 380px; }
	.wide-ly .g20 .masonry-item[data-ss-rowspan="5"] { height: 480px; }
	.wide-ly .g20 .masonry-item[data-ss-rowspan="6"] { height: 580px; }
	.wide-ly .g20 .masonry-item[data-ss-rowspan="7"] { height: 680px; } 
	.wide-ly .g20 .masonry-item[data-ss-rowspan="8"] { height: 780px; }
	.wide-ly .g20 .masonry-item[data-ss-rowspan="9"] { height: 880px; }
	.wide-ly .g20 .masonry-item[data-ss-rowspan="10"] { height: 980px; }

	.wide-ly .g20.withcol .masonry-item, 
	.wide-ly .column + .content-body .g20 .masonry-item { width: 60px; height: 60px; }

	.wide-ly .g20.withcol .masonry-item[data-ss-colspan="2"], .wide-ly .column + .content-body .g20 .masonry-item[data-ss-colspan="2"] { width: 140px; }
	.wide-ly .g20.withcol .masonry-item[data-ss-colspan="3"], .wide-ly .column + .content-body .g20 .masonry-item[data-ss-colspan="3"] { width: 220px; }
	.wide-ly .g20.withcol .masonry-item[data-ss-colspan="4"], .wide-ly .column + .content-body .g20 .masonry-item[data-ss-colspan="4"] { width: 300px; }
	.wide-ly .g20.withcol .masonry-item[data-ss-colspan="5"], .wide-ly .column + .content-body .g20 .masonry-item[data-ss-colspan="5"] { width: 380px; }
	.wide-ly .g20.withcol .masonry-item[data-ss-colspan="6"], .wide-ly .column + .content-body .g20 .masonry-item[data-ss-colspan="6"] { width: 460px; }
	.wide-ly .g20.withcol .masonry-item[data-ss-colspan="7"], .wide-ly .column + .content-body .g20 .masonry-item[data-ss-colspan="7"] { width: 540px; }
	.wide-ly .g20.withcol .masonry-item[data-ss-colspan="8"], .wide-ly .column + .content-body .g20 .masonry-item[data-ss-colspan="8"] { width: 620px; }
	.wide-ly .g20.withcol .masonry-item[data-ss-colspan="9"], .wide-ly .column + .content-body .g20 .masonry-item[data-ss-colspan="9"] { width: 700px; }
	.wide-ly .g20.withcol .masonry-item[data-ss-colspan="10"], .wide-ly .column + .content-body .g20 .masonry-item[data-ss-colspan="10"] { width: 780px; }

	.wide-ly .g20.withcol .masonry-item[data-ss-rowspan="2"], .wide-ly .column + .content-body .g20 .masonry-item[data-ss-rowspan="2"] { height: 140px; }
	.wide-ly .g20.withcol .masonry-item[data-ss-rowspan="3"], .wide-ly .column + .content-body .g20 .masonry-item[data-ss-rowspan="3"] { height: 220px; }
	.wide-ly .g20.withcol .masonry-item[data-ss-rowspan="4"], .wide-ly .column + .content-body .g20 .masonry-item[data-ss-rowspan="4"] { height: 300px; }
	.wide-ly .g20.withcol .masonry-item[data-ss-rowspan="5"], .wide-ly .column + .content-body .g20 .masonry-item[data-ss-rowspan="5"] { height: 380px; }
	.wide-ly .g20.withcol .masonry-item[data-ss-rowspan="6"], .wide-ly .column + .content-body .g20 .masonry-item[data-ss-rowspan="6"] { height: 460px; }
	.wide-ly .g20.withcol .masonry-item[data-ss-rowspan="7"], .wide-ly .column + .content-body .g20 .masonry-item[data-ss-rowspan="7"] { height: 540px; }
	.wide-ly .g20.withcol .masonry-item[data-ss-rowspan="8"], .wide-ly .column + .content-body .g20 .masonry-item[data-ss-rowspan="8"] { height: 620px; }
	.wide-ly .g20.withcol .masonry-item[data-ss-rowspan="9"], .wide-ly .column + .content-body .g20 .masonry-item[data-ss-rowspan="9"] { height: 700px; }
	.wide-ly .g20.withcol .masonry-item[data-ss-rowspan="10"], .wide-ly .column + .content-body .g20 .masonry-item[data-ss-rowspan="10"] { height: 780px; }



}

@media only screen and (min-width: 980px) and (max-width: 1399px) {
	.bx #container { max-width:1080px; min-width:980px; }
	.wide-ly .head-c.head0 .logo-in-header .top-options {
		width: 875px;
	}

	.wide-ly .col-y .product-list .prd-block3 { width: auto; float: none; margin-right: 0; }

	.wide-ly .RGen-prdinfo #column-left,
	.wide-ly .RGen-prdinfo #column-right { display: none; }
	.wide-ly .RGen-prdinfo #content #column-left + .content-body, 
	.wide-ly .RGen-prdinfo #content #column-right + .content-body { width: 100%; }

	/*-------- CUSTOM FOOTER --------*/

	.wide-ly .column-1 .facebook-block span { width: 940px !important; }
	.wide-ly .column-1 .fb_iframe_widget span,
	.wide-ly .column-1 .fb_iframe_widget iframe { height: 250px !important; }
}