<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
	body, p {
		font-size: 12px;
	}
	.code-block .title { font-size: 16px; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #eee; }
	</style>
</head>
<body>
<div class="help-wrapper">
	<div class="code-block">
		<h5 class="title">Apply following CSS classes to manage font size</h5>
		<p>t13, t16, t18, t20, t30, t40, t50, t60, t70, t80, t90, t100</p>
		<pre>
&lt;div class=&quot;t20&quot; style=&quot;font-weight: 900;&quot;&gt; Caption text &lt;/div&gt;</pre>
	</div>

	<div class="code-block">
		<h5 class="title">Apply following CSS classes to adjust margin with multiple text</h5>
		<p>mt5 = Margin top is 5,<br>mr5 = Margin right is 5,<br>mb5 = Margin bottom is 5,<br>ml5 = Margin left is 5</p>
		<p>Possible combination values to apply => 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 60 70 80</p>

		<p>Below example code apply top and bottom margin 10 with font size 40.</p>
<pre>
&lt;div class=&quot;t40 mt10 mb10&quot; style=&quot;font-weight: 900;&quot;&gt; Caption text &lt;/div&gt;</pre>
	</div>

	<div class="code-block">
		<h5 class="title">Apply following CSS classes to adjust hr line</h5>
		<p>Add "<strong>hr</strong>" tag to apply line between caption text</p>
		<pre>
&lt;div class=&quot;t40 mt10 mb10&quot; style=&quot;font-weight: 900;&quot;&gt; Caption text &lt;/div&gt;
&lt;hr class=&quot;mt10 mb10&quot; &gt;</pre>

		<p>Add CSS class "<strong>s2</strong>" to adjust hr line thickness.<br>Possible values to adjust thickness => 1, 2, 3, 4, 5, 10, 15</p>
		<pre>
&lt;div class=&quot;t40 mt10 mb10&quot; style=&quot;font-weight: 900;&quot;&gt; Caption text &lt;/div&gt;
&lt;hr class=&quot;s2 mt10 mb10&quot; &gt;</pre>

		<p>Add CSS class "<strong>w50</strong>" to adjust hr line width.<br>Possible values to adjust width => 10, 20, 30, 40, 50, 60, 70, 80, 90, 100</p>
		<pre>
&lt;div class=&quot;t40 mt10 mb10&quot; style=&quot;font-weight: 900;&quot;&gt; Caption text &lt;/div&gt;
&lt;hr class=&quot;w50 s2 mt10 mb10&quot; &gt;</pre>

		<p>Add following CSS class to apply hr line style.<br>solid, dashed, dotted, double</p>
		<pre>
&lt;div class=&quot;t40 mt10 mb10&quot; style=&quot;font-weight: 900;&quot;&gt; Caption text &lt;/div&gt;
&lt;hr class=&quot;solid w50 s2 mt10 mb10&quot; &gt;</pre>
	</div>

	<div class="code-block">
		<h5 class="title">Apply following CSS classes to button</h5>
		<p>Add following code to insert button</p>
		<pre>
&lt;a href="URL" class=&quot;btn mt10 mb10&quot; style=&quot;font-weight: 900;&quot;&gt; Button &lt;/a&gt;
</pre>

		<p>Add following CSS class to adjust button size.<br>small, medium, large</p>
		<pre>
&lt;div class=&quot;t40 mt10 mb10&quot; style=&quot;font-weight: 900;&quot;&gt; Caption text &lt;/div&gt;
&lt;hr class=&quot;solid w50 s2 mt10 mb10&quot; &gt;
&lt;a href="URL" class=&quot;btn medium mt10 mb10&quot; style=&quot;font-weight: 900;&quot;&gt; Button &lt;/a&gt;</pre>

		<p>Add CSS class "<strong>round</strong>" to apply border radius on button.</p>
		<pre>
&lt;div class=&quot;t40 mt10 mb10&quot; style=&quot;font-weight: 900;&quot;&gt; Caption text &lt;/div&gt;
&lt;hr class=&quot;solid w50 s2 mt10 mb10&quot; &gt;
&lt;a href="URL" class=&quot;btn medium round mt10 mb10&quot; style=&quot;font-weight: 900;&quot;&gt; Button &lt;/a&gt;</pre>
		
		<p>Add CSS class "<strong>solid</strong>" to apply solid background color on button.</p>
		<pre>
&lt;div class=&quot;t40 mt10 mb10&quot; style=&quot;font-weight: 900;&quot;&gt; Caption text &lt;/div&gt;
&lt;hr class=&quot;solid w50 s2 mt10 mb10&quot; &gt;
&lt;a href="URL" class=&quot;btn medium round solid mt10 mb10&quot; style=&quot;font-weight: 900;&quot;&gt; Button &lt;/a&gt;</pre>

	</div>


</div>

</body>
</html>