<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div class="help-wrapper">
	<h4>Category and brands display sections</h4>
	<div class="code-block">
		<h5 class="title">Common</h5>
		<pre>
.sec-box .hd,
.sec-box .sec-main {
	background-color: #fff; 
}
.sec-box .hd a {
	color: #944737;
}
.sec-box ul li {
	border-color: rgba(0,0,0,0.05);
}
.sec-box ul li a {
	color: #944737;
}
.sec-box-wrp1 .owl-carousel-in .owl-buttons div {
	color: #6ddee2;
	background-color: #685551;
	box-shadow: 0px 0px 0px 6px rgba(104, 85, 81, 0.25);
}
		</pre>
	</div>

	<div class="code-block">
		<h5 class="title">Selected categories with products - Style 1</h5>
		<pre>
.sec-prd .prd {
	border-color: rgba(0,0,0,0.08);
}
.sec-prd .prd .name {
	color: #944737;
}
.sec-prd .prd .new {
	color: #333;
}
.sec-prd .prd .old {
	opacity: 0.7; color: #666;
}
/* Arrows */
.brd-hd b, .sec-prd .prd b {
	border-color: rgba(0,0,0,0.1);
}
.brd-hd b:after, .sec-prd .prd b:after{
	border-color: transparent transparent transparent rgba(0,0,0,0.15); 
}
	</pre>
	</div>

	<div class="code-block">
		<h5 class="title">Common CSS for product - Style 2</h5>
		<pre>
.sec-box-wrp1 {
	border-color: rgba(0,0,0,0.04);
}
.sec-box-wrp1 .sec-box-hd {
	background-color: #6ddee2;
}
.sec-box-wrp1 .sec-box-hd .hd {
	color: #fff;
}
.sec-box-wrp1 .sec-box-hd .img {
	background-color: #fff;
	border-color: #fff;
}
		</pre>
	</div>

	<div class="code-block">
		<h5 class="title">Manufacturer with products - Style 1</h5>
		<pre>
.brd-box-prd .brd-hd {
	background-color: #fff;
}
.brd-box-prd .sec-prd {
	background-color: #fff;
}
		</pre>
	</div>



</div>

</body>
</html>